


   <header>
    <div class="header-container">
      <div class="logo">
        <img src="assets/angular-logo.png" alt="Logo Angular">
        <h1>Présentation : Angular Framework</h1>
      </div>
      <p>Par Équipe : khaliha 3la lahh</p>
    </div>
  
    <nav>
      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a routerLink="/introduction">Introduction</a></li>
        <li><a href="architecture">Architecture d'Angular</a></li>
        <li><a routerLink="/admin">Services</a></li>
        <li><a routerLink="/quiz">Quiz</a></li>
        <li><a href="conclusion">Conclusion</a></li>
      </ul>
    </nav>
  </header>
